html {
  background-color: pink;
}
p {
  color: white;
  font-size: 40px;
  font-family: Helvetica;
  text-align: center;
}

li {
  color: white;
  font-size: 20px;
  font-family: Helvetica;
  font-style: italic;
  list-style: none;
  text-align: center;
}

.logo {
  width: 50px;
  height: 50px;
}

.red-quote{
  color: red;
}

.image {
  border-radius: 75px;
  padding: 20px;
  width: 500px;
}
